<p>Thanks for participating in Inner Funset</p>
<h2>What happens next?</h2>
<p>Once a month, we'll start an email thread between you and one or two Inner Sunset neighbors so keep an eye out for one!</p>
