<div class="w-screen">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="form-wrapper">
    <%= react_component("SignupForm",{}) %>
  </div>
</div>
